.adminprofile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 30px 30px 30px 30px;
  margin: 130px 50px;
  .title {
    text-align: left;
    font-size: 30px;
    margin-bottom: 30px;
  }
  .btn-profile {
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border: 1px #3f76aa solid;
    background-color: white;
    max-width: 200px;
    color: #3f76aa;
    align-self: left;
    cursor: pointer;
    i {
      font-size: 20px;
    }
  }
  .btn-profile:hover {
    background-color: #3f76aa;
    color: white;
  }
  .btn-del {
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border: 1px #aa3f3f solid;
    background-color: white;
    max-width: 200px;
    color: #aa3f3f;
    align-self: left;
    cursor: pointer;
    i {
      font-size: 20px;
    }
  }
  .btn-del:hover {
    background-color: #aa3f3f;
    color: white;
  }
  .image-button {
    width: 20px;
  }
  table,
  th,
  td {
    background-color: $white;
    align-self: center;
    padding: 30px 30px 30px 30px;
    align-self: center;
    margin-top: 30px;
    margin-left: 20px;
    border-collapse: collapse;
    border: 1px #3f76aa solid;
  }
  th,
  td {
    padding: 15px;
    align-self: center;
    text-align: left;
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
    background-color: #fff;
  }
}
