.cart {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  .cart-head {
    text-align: left;

    .cart-title {
      font-size: 25px;
      padding-bottom: 5px;
      font-weight: bold;
      max-width: 300px;
    }
    .cart-subtitle {
      @include reset();
      font-size: 20px;
    }
  }
}
.cart-body {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.cart-footer {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  .btn-cart-save {
    border-radius: 5px;
    margin-top: 100px;
    padding: 10px 20px;
    border: none;
    border: 1px #3f76aa solid;
    background-color: white;
    max-width: 150px;
    color: #3f76aa;
    align-self: left;
    i {
      margin-right: 10px;
    }
  }
  .btn-cart-save:hover {
    background-color: #3f76aa;
    color: white;
  }
}
