.cart {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  .cart-head {
    display: flex;
    flex-direction: row;
    align-content: space-between !important;

    .cart-title {
      font-size: 25px;
      padding-bottom: 5px;
      font-weight: bold;
      max-width: 300px;
    }
    .cart-subtitle {
      @include reset();
      font-size: 20px;
    }
    .left-info {
      align-self: left;
      text-align: left;
      flex-grow: 1;
    }
    .right-info {
      border: 1px #a9a9a9 solid;
      border-radius: 10px;
      padding: 0px 10px 0px 10px;
      right: 15px;
      text-align: center;
      font-size: 20px;
      align-self: right;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;
      max-height: 50px;
      .price {
        font-size: 25px;
        line-height: 0px;
      }
    }
  }
}
.cart-body {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-content: space-between !important;
}
.cart-footer {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  .btn-cart-save {
    border-radius: 5px;
    margin-top: 100px;
    padding: 10px 20px;
    border: none;
    border: 1px #3f76aa solid;
    background-color: white;
    max-width: 150px;
    color: #3f76aa;
    align-self: left;
    i {
      margin-right: 10px;
    }
  }
  .btn-cart-save:hover {
    background-color: #3f76aa;
    color: white;
  }
}
