.history {
  display: flex;
  flex-direction: column;
  padding: 150px 150px 50px 150px;
  .history-head {
    text-align: left;

    .history-title {
      font-size: 25px;
      padding-bottom: 5px;
      font-weight: bold;
    }
  }
  .history-list {
    display: flex;
    flex-direction: column;
  }
}
