.card {
  background-color: #fff;
  margin: 15px;
  max-width: 250px;
  text-align: center;
  padding: 5px;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  .img-card {
    width: 100%;
  }

  .body-card {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
    .btn-card-plus {
      border-radius: 5px;
      padding: 10px 20px;
      border: none;
      border: 1px #3f76aa solid;
      background-color: white;
      color: #3f76aa;
      i {
        margin-right: 10px;
      }
    }
    .btn-card-plus:hover {
      background-color: #3f76aa;
      color: white;
    }
    .btn-card-less {
      border-radius: 5px;
      padding: 10px 20px;
      border: none;
      border: 1px #aa3f3f solid;
      background-color: white;
      color: #aa3f3f;
      i {
        margin-right: 10px;
      }
    }
    .btn-card-less:hover {
      background-color: #aa3f3f;
      color: white;
    }
  }
}
