.contact {
  display: flex;
  width: 100%;
  align-content: center;
  text-align: center;
  padding: 10% 20% 10% 47%;
  .button-round {
    @include reset();
    width: 60px;
    height: 60px;
    font-weight: bold;
    border-radius: 30px;
    align-content: center;
    background-color: $links-header;
    margin: 10px;
  }
  .button-round:hover {
    border: 1px solid #aeaeae;
    background-color: $main-color;
  }
}
