.header {
  display: flex;
  background: #fff;
  position: relative;
  width: 100%;
  z-index: 1;
  flex-direction: column;
  justify-content: center;

  .container {
    width: 100%;
  }
  .logo {
    margin-bottom: 4%;
    cursor: pointer;
    .logo-img {
      width: 10%;
    }
  }
  .link {
    padding: 10px;
    margin-top: 20px;
  }
  .loginsButtons {
    align-content: flex-end;
    align-self: flex-end;
    padding: 1% 1% 1% 1%;
    a {
      text-decoration: underline
    }
  }

  .loginsButtons > a:hover{
    color: rgb(50, 32, 50) !important;
    text-decoration: none;
    cursor: pointer;
  }
  .nav-bar {
    @include reset();
    display: flex;
    background-color: rgb(145, 115, 145);
    border-bottom: $palet-1 10px solid;
    flex-direction: row;
    flex-flow: wrap;

    .nav-item {
      width: 7%;
      text-align: center;
      list-style-type: none;
      font-size: 100%;
      font-weight: bold;
      padding-top: 1.5%;
      margin: 0% 2% 0% 2%;
      border-bottom: rgb(145, 115, 145) 3px solid;
      flex-grow: 1;
      cursor: pointer;

      color: $white;
      text-decoration: none;
    }
    .nav-item:hover {
      border-top: rgb(50, 32, 50) 4px solid;

      a {
        color: rgb(50, 32, 50) !important;
        text-decoration: none;
      }
    }
    .search-form {
      @include reset();
      display: flex;
      border-radius: 1%;
      flex-grow: 6;
      align-content: flex-end;
      text-align: end;
      flex-flow: wrap;
      margin: 0px 20px 0px 0px;
    }
    .search-button {
      margin-top: 10%;
    }
    .search-button-icon {
      width: 60%;
    }
  }
}
