$links: #575396;
$palet-1: #342130;

$main-color: #bba0b5;
$links-header: #685264;
$background: #c6c6c6;
$text-color: #373737;
$search-active: #886481;
$button-primary-background: #886481;
$button-secondary-text: #342130;
$backgorund-tweet: #f5f8fa;
$gray: #999;
$gray-light: #efefef;
$white: #fff;
$red: rgb(176, 79, 79);
$breakpoint-desktop: 1024px;
$breakpoint-mobile: 640px;
